.card .main-card-product-container .card-product1 .card-product-img{
    background-image: url(../img/box_img/box1_image.jpg);
}

.card .main-card-product-container .card-product2  .card-product-img{
    background-image: url(../img/box_img/box2_image.jpg);
}

.card .main-card-product-container .card-product3  .card-product-img{
    background-image: url(../img/box_img/box3_image.jpg);
}

.card .main-card-product-container .card-product4  .card-product-img{
    background-image: url(../img/box_img/box4_image.jpg);
}



.card .main-card-product-container .card-product5 .card-product-img{
    background-image: url(../img/box_img/box5_image.jpg);
}

.card .main-card-product-container .card-product6 .card-product-img{
    background-image: url(../img/box_img/box6_image.jpg);
}

.card .main-card-product-container .card-product7 .card-product-img{
    background-image: url(../img/box_img/box7_image.jpg);
}

.card .main-card-product-container .card-product8 .card-product-img{
    background-image: url(../img/box_img/box8_image.jpg);
}

.card .main-card-product-container .card-product9 .card-product-img{
    background-image: url(../img/box_img/box9_image.jpg);
}

.card .main-card-product-container .card-product10 .card-product-img{
    background-image: url(../img/box_img/box10_image.jpg);
}

.card .main-card-product-container .card-product11  .card-product-img{
    background-image: url(../img/box_img/box11_image.jpg);
}

.card .main-card-product-container .card-product12 .card-product-img{
    background-image: url(../img/box_img/box12_image.jpg);
}