@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap'); */

* {
    padding: 0;
    margin: 0;
    border: border-box;
    font-family: "Noto Sans", Arial, Helvetica, sans-serif;
    /* font-family: "Outfit", sans-serif; */
}

:root {
    --color-light: #fafcfc;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-vcenter {
    display: flex;
    align-items: center;
}

.flex-hcenter {
    display: flex;
    justify-content: center;
}


.down-icon {
    padding-left: 5px;
}

.border {
    border: 1.2px solid transparent;
    border-radius: 3px;
    cursor: pointer;
}

.border:hover, .border:focus, .border:active {
    border-color: rgba(255, 255, 255, 0.9);
}

.underline {
    cursor: pointer;
    text-decoration: none;
}

.underline:hover {
    text-decoration: underline;
}